
.ipynb_checkpoints/logistic_regression-checkpoint.ipynb
.ipynb_checkpoints/decision_tree-checkpoint.ipynb
.ipynb_checkpoints/random_forest-checkpoint.ipynb
.ipynb_checkpoints/principal_component_analysis-checkpoint.ipynb
.ipynb_checkpoints/SVM-checkpoint.ipynb
.ipynb_checkpoints/kNN-checkpoint.ipynb
.ipynb_checkpoints/k_means-checkpoint.ipynb
.ipynb_checkpoints/pearson_correlation-checkpoint.ipynb
.ipynb_checkpoints/autoencoder-checkpoint.ipynb
feature_extraction/.ipynb_checkpoints/LDA-checkpoint.ipynb
